<div id="<%= dom_id supplier %>" class="card p-3 mb-3">
  <h3 class="card-title mb-3">Supplier Details</h3>

  <div class="mb-3">
    <p class="mb-1">
    <strong>Supplier name:</strong>
    <%= supplier.supplier_name %>
    </p>
  </div>

  <div class="mb-3">
    <p class="mb-1">
    <strong>Person in charge:</strong>
    <%= supplier.person_in_charge %>
    </p>
  </div>

<div class="mb-3">
    <p class="mb-1">
      <strong>Contact number:</strong>
      <%= supplier.contact_number %>
    </p>
  </div>

  <div class="mb-3">
    <p class="mb-1">
    <strong>Address:</strong>
    <%= supplier.address %>
    </p>
  </div>
</div>

  <div class="mb-3">
    <p class="mb-1">
      <strong>Contact number:</strong>
      <%= supplier.contact_number %>
    </p>
  </div>

  <div class="mb-3">
    <p class="mb-1">
      <strong>Address:</strong>
      <%= supplier.address %>
    </p>
  </div>